$color-bg: yellowgreen;

$section-bg: red;

$bg-color: #2c3e50;
$hover-color: #16a085;
$text-color: white;

$primary-color: blue;


$buttonBackground: #1644a8;
$buttonColor: white;
$buttonPadding: 5px;